# Django Settings
SECRET_KEY=django-insecure-0q5nbyy#p^a!kyc!o!aum-6eda0@a@cex1(7xj+hxh=(0k(a&t
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=vivmukhongo@gmail.com
EMAIL_HOST_PASSWORD=radf twsa vxly cjvq
DEFAULT_FROM_EMAIL=vivmukhongo@gmail.com
DEFAULT_CONTACT_EMAIL=vivmukhongo@gmail.com
ADMIN_EMAIL=vivmukhongo@gmail.com

# Email Settings
EMAIL_SUBJECT_PREFIX=[DRAVTECH]
